<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Johnny Alimoot C.">
    <!-- DESCRIPTION OF THE PAGE -->
    <meta name="description" content="Free corporate web template by JACode - Johnny Alimoot C">
    
    <!-- KEYWORDS OF THE PAGE TO HELP SEARCH ENGINE -->
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">

    <!-- OG IMAGE IS THE IMAGE SHOWN WHEN YOUR WEBSITE LINK IS SHARED ON SOCIAL MEDIA -->
    <meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Roundazzle - Free corporate web template">
    <meta name="twitter:card" content="summary_large_image">

    <!-- THE TITLE OF THE PAGE -->
    <title>Bold vision | Service</title>

    <link rel="preload" href="icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="css/fontstyle.css" as="style">
    <link rel="preload" href="css/layout.css" as="style">
    <link rel="preload" href="css/animation.css" as="style">
    <link rel="preload" href="css/style.css" as="style">

    <link rel="stylesheet" href="icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/fontstyle.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="art/favicon.png">
</head>
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>

        <!-- SUB HERO BANNER START -->
        <section class="sub-hero-banner" style="background-image: url('art/hero3.webp');">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                    <h1 class="ff-damion">Bold vision | Our Services</h1>
                    <a href="index.html" class="fc-white">
                        Home
                    </a>
                    <i class="bi bi-chevron-right"></i>
                    <a href="#" class="fc-white">
                        Service
                    </a>
                </div>
            </div>
            <div class="hero-socials">
                <a href="#" class="mt-a icon-link" aria-label="Follow us on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" class="icon-link mt-10" aria-label="Follow us on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </section>
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        <nav>
            <div class="contained">
                <a href="index.html" class="logo fc-primary ff-damion row flex-alig-center">
                    <span class="fs-h2">Bold vision</span>
                </a>
                <input type="checkbox" name="tablet-mobile-menu" class="tab-mob-menu" aria-label="tablet and mobile menu">
                <div class="navigation-container">
                    <a href="index.html">Home</a>
                    <a href="about.html">About</a>
                    <a href="service.html">Service</a>
                    <a href="contact.html" class="btn-bg1 border-round">Contact Us</a>
                </div>
            </div>
        </nav>
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <!-- SERVICES START -->
        <section class="contained">
            <h2 class="section-title ff-damion">Service</h2>
            <div class="col-wide mlmr-a ta-center">
                <span class="fc-primary fs-h2">
                    Experience top notch, high quality, over the top, range of services.
                </span>
                <p>
                    We are now in space, our service is so high, and top we've reached the ever expanding universe.
                    Here's our range of exceptional services, designed to meet your needs with both quality 
                    and affordability in mind. 
                </p>
            </div>

            <div class="row">
                <div class="col-wide">

                    <!-- INDIVIDUAL SERVICES FEATURE START -->
                    
                    <span class="fs-h3 mt-25">Graphic Design</span>
                    <p>
                        Branding & Logo Design: A strong visual identity is key to standing out. We create logos and brand assets that reflect your brand’s core values and vision.
                    </p>
                    <p>
                        Social Media Graphics: We design visually appealing graphics that help your social media posts stand out and engage your audience
                    </p>
                   
                    <p>
                        Website Graphics: Need banners, icons, or custom images for your website? Our designers ensure that every visual element enhances user experience and aligns with your brand’s identity.
                    </p>
                    
                    
                    </p>
                    Ad Creatives: We design ad creatives for digital marketing campaigns that capture attention and drive conversion
                    </p>
                    
                    </p>
                    <img src="art/hero1.webp" class="img-unheight" alt="" id="service-dev">
                    <!-- INDIVIDUAL SERVICES FEATURE END -->

                     <!-- INDIVIDUAL SERVICES FEATURE START -->
                    
                    <span class="fs-h3 mt-25">Web Design</span>
                    <p>
                        Custom Website Design: We create fully customized websites that align with your brand’s identity. Each design is crafted to deliver an intuitive user experience while focusing on aesthetics that capture your brand’s message.</p>
                    <p>
                        Responsive Design: Our web designs are optimized for every device, ensuring that your website looks and works flawlessly on desktops, tablets, and mobile phones.</p>
                   
                    <p>
                        UI/UX Design: We focus on designing interfaces that enhance user interaction, providing a seamless and enjoyable user experience.</p>

                    <p>
                        Website Redesign: If your current website feels outdated or lacks modern functionality, we offer redesign services that will refresh its appearance and boost its performance.</p>
                    
                    
                    <img src="art/hero1.webp" class="img-unheight" alt="" id="service-dev">
                    <!-- INDIVIDUAL SERVICES FEATURE END -->

                     <!-- INDIVIDUAL SERVICES FEATURE START -->
                    
                     <span class="fs-h3 mt-25">Web devlopment</span>
                     <p> Development: We handle  front-end  to build fully functional websites and web applications. Our team ensures that your site is fast, secure, and scalable<p>
                    
                     <p>Website Maintenance: Our team provides ongoing support and maintenance to keep your website running smoothly, with updates, security patches, and performance optimizations.</p>
                     <p>Custom Web Applications: We develop custom web applications that serve unique business functions, from booking systems to CRM integrations.</p>
                     
                     <img src="art/hero1.webp" class="img-unheight" alt="" id="service-dev">
                     <!-- INDIVIDUAL SERVICES FEATURE END -->

                     <!-- INDIVIDUAL SERVICES FEATURE START -->
                    
                     <span class="fs-h3 mt-25">Product Photography</span>
                     <p> High-Resolution Images: We capture crystal-clear, high-resolution images that highlight every detail of your products, making them stand out in e-commerce platforms, social media, or marketing materials.</p>
                     <p>Creative Product Shots: From lifestyle shots to close-ups, we create engaging and creative compositions that reflect your brand’s personality and make your products irresistible</p>
                      <p>Styled and Conceptual Photography: We work closely with your brand to design custom sets and concepts that align with your marketing strategy, making your products look unique and compelling.</p>
                      <p>Post-Production Editing: Our expert photo editors enhance each image with precision, ensuring color correction, background removal, and retouching for a polished, professional look.</p>
                     <img src="art/hero1.webp" class="img-unheight" alt="" id="service-dev">
                     <!-- INDIVIDUAL SERVICES FEATURE END -->

                     
                     <!-- INDIVIDUAL SERVICES FEATURE START -->
                    
                     <span class="fs-h3 mt-25">Social Media Management</span>
                     <p>Social Media Strategy: We help build and execute effective social media strategies based on your business goals, targeting the right audience through tailored content.</p>
                    <p>Content Creation: From eye-catching graphics to engaging videos and blogs, we create and manage content that resonates with your followers, encouraging engagement and brand loyalty.</p>
                    Community Management: We don’t just post content — we engage with your community, respond to comments, and build meaningful relationships with your audience across all social platforms.</p>
                    <p>Analytics and Reporting: We provide detailed reports on your social media performance, including engagement, reach, and conversions, allowing you to adjust your strategy to drive better results.</p>
                    <img src="art/hero1.webp" class="img-unheight" alt="" id="service-dev">
                     <!-- INDIVIDUAL SERVICES FEATURE END -->
 
 



                </div>

                <!-- SERVICES SIDE BAR SHORTCUT LINKS START -->
                <div class="col-slim order-tab-1">
                    <div class="card-side card-side-navigation">
                        <h3 class="no-margin ff-damion">Services</h3>
                        <hr>
                        <a href="#">Graphic Design</a>
                        <a href="#">Web Design </a>
                        <a href="#">Web devlopment </a>
                        <a href="#">Product Photography</a>
                        <a href="#">Social Media Management</a>
                      
                    </div>
                </div>
                <!-- SERVICES SIDE BAR SHORTCUT LINKS END -->

            </div>
        </section>
        <!-- SERVICES END -->
    </main>
  
    <!-- FOOTER START -->
    <footer class="fc-white">
        <div class="contained row flex-just-center">

            <!-- FOOTER WEBSITE MOTO START -->
            <div class="col-quad">
                <h3 class="ff-damion">Bold vision </h3>
                <p>
                    Our mission is your vision and your mission is to tell
                    us your vision, so that what you envision will become our mission.
                </p>
                <p>
                </p>
            </div>
            <!-- FOOTER WEBSITE MOTO END -->

            <!-- FOOTER QUICK CONTACT START -->
            <div class="col-quad">
                <h3 class="ff-damion">Get in touch</h3>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    @gmail.com
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"></i>
                    +91 9429130365 
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"></i>
                   28th Narayan Society , Mahemdabad
                </a>
                <a href="#" class="display-inblock fc-white icon-link mt-20" aria-label="Follow on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" class="display-inblock fc-white icon-link" aria-label="Follow on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
            <!-- FOOTER QUICK CONTACT END -->
            
            <!-- FOOTER SCHEDULE START -->
            <div class="col-quad">
                <h3 class="ff-damion">Opening hours</h3>
                <p class="mt-10 mb-10 fw-bold">
            
                    <span class="fw-normal display-block"></span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Saturday:
                    <span class="fw-normal display-block">8:00AM - 10 : 00PM</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sunday:
                    <span class="fw-normal display-block">10:00AM - 10:00PM</span>
                </p>
            </div>
            <!-- FOOTER SCHEDULE END -->
            
            <!-- FOOTER USEFUL LINKS START -->
            <div class="col-quad">
                <h3 class="ff-damion">Useful Links</h3>
                <a href="index.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Home
                </a>
                <a href="about.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    About
                </a>
                <a href="service.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Service
                </a>
                
                <a href="blog/blog.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Blog
                </a>
                
                <a href="contact.html" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contact
                </a>
            </div>
            <!-- FOOTER USEFUL LINKS END -->
            
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Your site - Copyright 2023</small>
        </div>
    </footer>
    <!-- FOOTER END -->
</body>
</html>